body{
	font-family:times new roman;
	color: white;
    text-align: center;
	background-color: lightblue;
	opacity:;
}
.button3{
	background-color: #f44336;/*Red*/
	font-size: 15px;
	border-radius:8px;
	font-family: times new roman;
	border-style: none;
}
.button3:hover{
	background-color: green;
	color: white;
}
div{
	background-color: rgba(53, 56, 57, 0.8);
	position: absolute;
	width: 400px;
	height: 400px;
	left: 500px;
	box-shadow: 5px 10px 10px black;
	border-radius: 5px;
}
a{
	text-decoration: none;
	padding: 14px 25px;
	background-color: dodgerblue;
	border-radius: 4px;
	color: #fffaf0;
}
a:hover{
	background-color: yellow;
	color: red;
}
input{
	font-size: 15px;
	font-family: tims new roman;

}